<div class="fundoDeTela">
  <h1>VAMOS CALCULAR?</h1>
  <div class="calculadora">
    <h3>Calculadora Simples</h3>
    <p id="resultado" #resultado></p>
    <table>
      <tr>
        <td><button class="botao" (click)="clear()">C</button></td>
        <td><button class="botao" (click)="back()"><</button></td>
        <td><button class="botao" (click)="insert('/')">/</button></td>
        <td><button class="botao" (click)="insert('*')">X</button></td>
      </tr>
      <tr>
        <td><button class="botao" (click)="insert('7')">7</button></td>
        <td><button class="botao" (click)="insert('8')">8</button></td>
        <td><button class="botao" (click)="insert('9')">9</button></td>
        <td><button class="botao" (click)="insert('-')">-</button></td>
      </tr>
      <tr>
        <td><button class="botao" (click)="insert('4')">4</button></td>
        <td><button class="botao" (click)="insert('5')">5</button></td>
        <td><button class="botao" (click)="insert('6')">6</button></td>
        <td><button class="botao" (click)="insert('+')">+</button></td>
      </tr>
      <tr>
        <td><button class="botao" (click)="insert('1')" #1>1</button></td>
        <td><button class="botao" (click)="insert('2')" #2>2</button></td>
        <td><button class="botao" (click)="insert('3')" #3>3</button></td>
        <td rowspan="2"><button class="botao" style="height: 110px;" (click)="calcular()">=</button></td>
      </tr>
      <tr>
        <td colspan="2"><button class="botao" style="width: 110px;" (click)="insert('0')">0</button></td>
        <td><button class="botao" (click)="insert('.')">.</button></td>
      </tr>
    </table>
  </div>
</div>